@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400&display=swap");

.card {

  height: 100vh;
  min-height: fit-content;
  font-family: 'Chivo Mono', monospace;
}
.card .fila {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  flex: 1;

}

.card .fila .col {
  border-radius: 40px;
  background: #fff;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  max-width: 400px;
  position: relative;
  z-index: 1;

}
.card .fila .col::before{
  content: "";
  top: 0;
  left: 50;
  width: 100%;
  height: 190px;
  z-index: -1;
  background: #c48835;
  border-bottom: 2px solid #000;
  position: absolute;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
  .card .fila .col::after{
    content: "";
    bottom: 0;
    left: 50;
    width: 100%;
    z-index: -1;
    position: absolute;
    background: #ddeba9;
    height: 90px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

.card .fila .col .card-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 0px 10px;
}
.card .fila .col .card-content .card-title {
  font-size: 2em;

}
.card .fila .col .card-content .card-descrip{
    font-size: 1.4em;
    text-align: left;
}
.card .fila .col .card-content .card-price{
    font-size: 1.2em;
    color: #6666;
}
.card .fila .col .card-content .card-stocks{
    padding: 10px;
    font-weight: bold;
    border-radius: 30px;
    color: coral;
    width: 100%;
}
.card .fila .col .card-content .card-button{
    background: #6b8cd5;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition:  .2s;

}
.card .fila .col .card-content .card-button:hover{
    background: #323a4c;
    color: #fff;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

}
.card .fila .col  .stocks{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}
.card .fila .col .stocks .card-plus{
    background: #85d4a9;
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.card .fila .col .stocks .card-minus{
    background: #bb3d36;
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.card .fila .col .stocks input{
    cursor: pointer;
    width: 50%;
    background: transparent;
}
.card .fila .col .stocks input::placeholder{
    text-align: center;
    color: #000;
  
}
