.Detail-cotanier{
    text-align: center;
    background: linear-gradient(
        to top,
        rgba(30, 35, 38, 0.8),
        rgba(30, 35, 38, 1)
      ) , fixed url("/src/media/Fondo.jpg")  ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}
.Detail-cotanier h1{
    font-size: 2em;
    transform: translateY(50%);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;

}
.Detail-cotanier .card-detail{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
